:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  
  
  body {
    color: black;
    background-color: B9B9C7;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #FF0000;
  }

  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
    z-index: 2;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #FF2626;
  }
  
  .fa-secondary {
    color: #E50404;
  }
  
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  


  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  .switch{
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 2;
    
  }
  .switch .fa-sun{
    font-size: 50px;
    color: white;
  }
  .header {
    padding: 2.4rem;
    margin-top: 0;
    background-color: var(--bg-secondary);
    width: 100%;
    height: 0.25rem;
    margin-left: 3.5rem;
    position: fixed;
    cursor: pointer;
    z-index: 1;
  }
  .header .title {
    font-size: 1.95rem;
    font-weight: bold;
    font-style: var(font-family);
    color: white;
    text-align: left;
    margin: 0;
    top: 50%;
    width: 78rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: none;
  }
  .content{
    width: 40%;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 10px;
    margin: auto;
    margin-top: 3rem;
    position: relative;
    }
  .content .title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 15px;
    position: static;
  }
  .button{
    top: 9%;
    margin-left: 60rem;
    margin-top: 60px;
  
  }

  .btn{
    font-family: var(font-family);
      font-size: 18px;
      font-weight: bold;
      background: var(--bg-secondary);
      position: absolute;
      width: 200px;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--text-primary);
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
      margin: 1rem;
  }
  .btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  table {
    width: 78rem;
    border-collapse: collapse;
    background: rgba(0,0,0,0.4);
    color: #fff;
    top: 19%;
    left:50%;
    position: static;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}
th {
    padding: 8px;
    border: 2px solid darkgrey;
}
td{
    padding: 8px;
    border: 2px solid rgba(0,0,0,0.4);
}

tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.4);
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,0.4);
} 

th {
    font-weight: bold;
    color:white;
    background-color: rgba(0,0,0,0.4);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-secondary);
  color: white;
  text-align: center;
}
button {
      font-family: var(font-family);
      font-size: 18px;
      font-weight: bold;
      background: var(--bg-secondary);
      position: absolute;
      width: 200px;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--text-primary);
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      left: 45%;

}
button:hover {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
caption {
	  width: 50%;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 10px;
    margin: auto;
    margin-top: 3.6rem;
    position: relative;
    font-family: sans-serif;
    color: var(--bg-secondary);
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 13px;
}

